{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card mt-5">
                <div class="card-header bg-primary text-white">
                    <h3>Connectez-vous</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. See https://symfony.com/doc/current/security/remember_me.html
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                                </label>
                            </div>
                        #}

                        <button class="btn btn-primary" type="submit">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    body {
        background-color: #f8f9fa;
    }
    .card {
        border-radius: 15px;
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
</style>
{% endblock %}
